.img-responsive {
  Top Margin: 20px;
} /*Write your custom CSS here!!!*/

#portfolio {
  background-color:#81F7F3;

}
#contact {
  background-color:#81F7F3;

}

#ct {
    background-color:#CC99FF;


}

#about {
    background-color:#CC99FF;


}





